
#include "Arduino.h"
/* 
    How often to send an API request
*/
int delayTime = 5 * 1000;

/* Calibration for temperature sensor*/
int calibration_ = -2;

// WiFi SSID and password
const char* ssid = "";
const char* password = "";


const char* ntpServer = "pool.ntp.org";
const long  gmtOffset_sec = -60*60*5;
const int   daylightOffset_sec = 3600;


String hostname = "IPADDRESS:PORT";
String envDataRequestURL = "http://" + hostname + String("/api/addEnvRecord");