const int SCREEN_WIDTH            = 128;  // OLED display width, in pixels
const int SCREEN_HEIGHT           = 64;   // OLED display height, in pixels
const int SDA_PIN                 = 38;   // Serial Data
const int SCL_PIN                 = 39;   // Serial Clock
const int DHT11PIN                = 46;   // DHT11 Digital input
const int WIFIMANAGER_TRIGGER_PIN = 0;    // On Board button input To use the WifiManager
const int MCP9701_temp_Pin        = 18;   // Analog input for temperature sensor
const int pH_Pin                  = 5;    // Analog input for pH sensor
const int A1_temp_Pin             = 6;    // Temperature sensor when using the first analog channel of the ESP this is because pin 18 may not work as intended because of wifi.
const int Legacy_temp_Pin         = 35;   // Temperature analog input of ESP32-dev kit
const int Legacy_pH_Pin           = 32;   // pH analog input of ESP32-dev kit
const int LED12                   = 12;   // On board LED Digital output 12
const int LED13                   = 13;   // On board LED Digital output 13
const int LED14                   = 14;   // On board LED Digital output 14
const int LED15                   = 15;   // On board LED Digital output 15
const int LED16                   = 16;   // On board LED Digital output 16
const int LED17                   = 17;   // On board LED Digital output 17
const int GPS_RX = 42;
const int GPS_TX = 45;
int delayTime                     = 10 * 1000;  // 30 seconds in milliseconds
//int delayTime                   = 10 * 60 * 1000; // 10 minutes in milliseconds
const char* ntpServer             = "pool.ntp.org";
const long  gmtOffset_sec         = -60*60*5;
const int   daylightOffset_sec    = 3600;
//#define ENABLE_ATLAS_EC
//#define ENABLE_ATLAS_TEMP
//#define ENABLE_ATLAS_pH
#define DISABLE_CELSIUS
#define DHTTYPE DHT11
#define ENABLE_CALIBRATION
//#define DISABLE_FAHRENHEIT
#define ENABLE_DHT11_TEMP
#define ENABLE_DHT11_HUMIDITY
//#define DISABLE_MCP9701_TEMP
//#define DISABLE_WIFI
//#define DISABLE_API_REQUEST
// #define ENABLE_GPS
#define ENABLE_SETPOINT_FETCH
// #define LESS_SERIAL_OUTPUT
#define LCD_ADDR 0x27  // Define I2C Address where the PCF8574A (Blue blacklight)
//#define LCD_ADDR 0x3F //This is for the LCD without a backlight
#define ENABLE_OLED_DISPLAY
#define ENABLE_PUMPS
#define ENABLE_PH_UP
#define ENABLE_PH_DOWN


/*
    Server Information
*/
// Uncomment the following line if you do not want to make API requests to the server below
// #define DISABLE_API_REQUEST
String hostname = "IPADDRESS:PORT"; // IP ADDRESS and port (if needed) of your server or hostname (and port).
String serverURL = "https://" + hostname;
String envDataRequestURL = serverURL + String("/api/addEnvRecord");
String pumpReqestURL = serverURL + String("/api/pumpData");
// Change to https if needed.  adjust api endpoint path as needed

static const char *root_ca PROGMEM = R"EOF(-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----)EOF";